body {
    margin: 0;
    min-width: 300px;
}
.page {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.page-content {
    margin: 30px 60px 40px 60px;
    transition: margin 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.sidebar-wrapper {
    background-color: transparent;
    position: fixed;
    top: 0;
    height: 100%;
    width: 600px;
    overflow: hidden;
    display: flex;
    transform: translateX(-440px);
    transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    z-index: 999;
}

.sidebar-wrapper.menu-state--opened,
.sidebar-wrapper.menu-state--opened .main-panel {
    transform: translateX(0);
}

.main-panel {
    background-color: burlywood;
    width: 440px;
    min-height: 100%;
    transform: translateX(440px);
    transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.button-with-icon {
    display: flex;
    width: 100%;
    min-height: 60px;
    background-color: blueviolet;
    align-items: center;
}

.button-with-icon__icon {
    margin: 0 20px;
}

.hover-frame {
    width: 440px;
    height: 100%;
    overflow: hidden;
}

.sidebar-button {
    background-color: blue;
    position: relative;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media screen and (min-width: 600px) and (orientation: landscape) {
    .sidebar-wrapper{
        transform: translateX(-380px);
    }
    .main-panel {
        transform: translateX(380px);
    }
    .page-content {
        margin-left: 120px;
    }
    .page-content.menu-state--opened {
        margin-left: 500px;
    }
  }