body {
    margin: 0;
    min-width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.page {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.page-content.menu-state--opened {
    transform: translateX(calc(100% + 20px));
}


